@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var isUpdate = Model.IsUpdate;
    var blogId = Model.BlogPost?.BlogPostId;
    var title = Model.BlogPost?.Title;
    var content = Model.BlogPost?.Content;
}

@section scripts{
    @Scripts.Render("~/bundles/writePost")
}


<div class="window" style="width:100%;height:100%;" 
     ng-app="writePostApp" 
     ng-controller="writePostController as vm"
     ng-init="vm.init(@Json.Encode(isUpdate), @Json.Encode(blogId), @Json.Encode(title), @Json.Encode(content))">
    
    <div class="mainContent">
        <div class="topbar">
            <div class="createControls">
                <button ng-click="vm.startTextToHtmlContentCopy()">Text</button>
                <button ng-click="vm.startHtmlToTextContentCopy()">Html</button>
            </div>
        </div>
		
        <div class="createTitleContainer">
            <textarea type="text" ng-model="vm.title" id="title" class="createTitle" rows="1" placeholder="Title" style="width:100%;"></textarea>
        </div>

        <div style="height:80%;">
            <iframe id="textContent" ng-model="vm.textContent" class="createContent" ng-show="vm.isTextActive" style="height:100%;"></iframe>
            <textarea id="htmlContent" ng-model="vm.htmlContent" class="createContent" placeholder="Content" ng-show="!vm.isTextActive" style="height:100%;"></textarea>
        </div>
    </div>

    <div class="rightSidebar">
        <div style="padding:20px;">
            <button ng-show="vm.isCreating" ng-click="vm.createPost()">Create</button>
            <button ng-show="!vm.isCreating" ng-click="vm.updatePost()">Update</button>
            <div id="message">{{vm.message}}</div>
        </div>
    </div>
</div>